## Project Update
### Date: 06/08/2021
### Team: Bryce Randolph, Jeannie Davis, Harsandeep Singh, Kevin Robell

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
sns.set()
rcParams['figure.figsize'] = 8,6
sns.set_context('talk')   # 'talk' for slightly larger

Choice of Dataset
We decided to use the dataset at https://www.kaggle.com/nathanlauga/nba-games and we are only using the games.csv file. Drop that file in the same folder as this file to run the following code.

In [4]:
df = pd.read_csv("./games.csv")
df = df[df.SEASON == 2019]

what it is you are going to predict
HOME_TEAM_WINS

In [6]:
df.info() # Basic data exploration

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241 entries, 1206 to 17677
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     1241 non-null   object
 1   GAME_ID           1241 non-null   int64
 2   GAME_STATUS_TEXT  1241 non-null   object
 3   HOME_TEAM_ID      1241 non-null   int64
 4   VISITOR_TEAM_ID   1241 non-null   int64
 5   SEASON            1241 non-null   int64
 6   TEAM_ID_home      1241 non-null   int64
 7   PTS_home          1241 non-null   float64
 8   FG_PCT_home       1241 non-null   float64
 9   FT_PCT_home       1241 non-null   float64
 10  FG3_PCT_home      1241 non-null   float64
 11  AST_home          1241 non-null   float64
 12  REB_home          1241 non-null   float64
 13  TEAM_ID_away      1241 non-null   int64
 14  PTS_away          1241 non-null   float64
 15  FG_PCT_away       1241 non-null   float64
 16  FT_PCT_away       1241 non-null   float64
 17  FG3_PCT_away      1241 non-null   float64
 18  AST_away          1241 non-null   float64
 19  REB_away          1241 non-null   float64
 20  HOME_TEAM_WINS    1241 non-null   int64
dtypes: float64(12), int64(7), object(2)
memory usage: 213.3+ KB

In [8]:
df.isna().sum() # Shows that data doesn't have NA values.

GAME_DATE_EST       0
GAME_ID             0
GAME_STATUS_TEXT    0
HOME_TEAM_ID        0
VISITOR_TEAM_ID     0
SEASON              0
TEAM_ID_home        0
PTS_home            0
FG_PCT_home         0
FT_PCT_home         0
FG3_PCT_home        0
AST_home            0
REB_home            0
TEAM_ID_away        0
PTS_away            0
FG_PCT_away         0
FT_PCT_away         0
FG3_PCT_away        0
AST_away            0
REB_away            0
HOME_TEAM_WINS      0
dtype: int64